<div class="form-container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for [:admin, @member], html: {role: "form", class: "form-horizontal"} do |f| %>
        <legend>Create new member</legend>
          <%= render partial: 'form', locals: {f: f} %>
        <div class="pull-right">
          <%= f.submit "Create", class: "btn btn-primary "  %>
          <%= link_to admin_members_path do %>
            <button type="button" class="btn btn-default ">
              Back
            </button>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
</div>
