<div class="thumbnail-container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <!-- <h1 class="page-header">My projects
                <small>Secondary Text</small>
            </h1> -->
        </div>
    </div>
    <!-- /.row -->

    <!-- Members Row -->
     <% @members.each_slice(3) do |three_members| %>
    <div class="row">
      <% three_members.each_with_index do |member, index| %>
      <div class="col-md-4 ">
          <%= link_to member_path(member) do %>
            <% if !member.image_url.blank?%>
              <%= image_tag member.profile_img.url(), :class => "img-responsive image_thumbnail_size img-rounded"  %>

            <% else %>
              <%= image_tag member.profile_img.url(),  :class => "img-responsive image_thumbnail_size img-rounded"  %>
            <% end %>
          <% end %>
          <h4>
              <%= link_to  member.name, member_path(member)  %>
          </h4>


      </div>
      <% end %>
    </div>
    <% end %>


    <!-- /.row -->

</div>